body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff5fd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-links {
  text-align: right;
}

.nav-link {
  color: #fff5fd;
}

.starting-page-button {
  background-color: #022e57;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.starting-page-button:hover {
  background-color: #005a8d;
}
.hidden {
  display: none;
}

.display {
  display: block;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 10px;
  padding-left: 4px;
  height: 30px;
  font-size: 14px;
}

.add-new-exercise-form {
  padding: 20px;
}

.add-new-workout-form {
  display: flex;
  flex-direction: column;
}

.draggable {
  border: 2px solid blue;
}

/*  #FF96AD */
